body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #007bff;
}

#tableTech {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

th {
  background-color: #007bff;
  color: #fff;
}

#form {
  margin-top: 20px;
  width: 20%; 
  max-width: 600px; 
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 40px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


button {
  margin-top: 15px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
}

button:hover {
  background-color: #0056b3;
}
